.topnav {
    display: flex;
    flex-flow: row nowrap;
    width: stretch;
    position: fixed;
    background-color: darkolivegreen;
    align-items: center;
    justify-content: space-between;
}

.topnav > * {
    flex: 1 100%;
}

.logo {
    padding-left: 20px;
    margin: 0;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

a {
    padding: 20px ;
    margin: 0;
    width: stretch;
    text-align: center;
    flex-basis: auto;
}

.topnav a:hover {
    background-color: rgba(255,255,255,.5);
}

@media all and (max-width: 425px) {
    .topnav {flex-flow: column wrap;
             flex: 1 100%;
             justify-content: space-around;}

    .topnav ul {flex-flow: column nowrap;
                align-items: center;}

    a {padding: 15px;}
    .logo {padding: 0;}
}