body, main{
    padding: 0;
    margin: 0;
    background-color: hsl(48, 91%, 96%);
}

.main-container {
    padding-top: 100px;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
}

.main-container table {
    margin-left: auto;
    margin-right: auto;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44vw;
    row-gap: 25px;
}

.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: fit-content;
}

.login-or-register {
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-or-register p {
    font-size: large;
}

.register-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 50vw;
}

.recipe-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    padding: 15px;
}

.user-recipes-container {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    gap: 30px;
    margin: 50px;
}

.user-profile-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    padding-top: 75px;
}

.user-card-container {
    display: flex;
    flex-flow: row nowrap;
}

.new-recipe-container {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin:15px;
    align-items: center;
}

a {
    color: black;
}

a :visited {
    color: black;
}

.steps-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 100px 10px 10px 10px;
    color: grey;
}