h1 {
    text-align: center;
    padding-top:50px;
}

.overview-container {
    display: inline-flex;
    flex-direction: column;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vw;
    row-gap: 25px;
}

.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: fit-content;
}

.login-or-register {
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-or-register p {
    font-size: large;
}

.register-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 50vw;
}

.recipe-container {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    height: 250px;
    padding: 15px;
    padding-bottom: 0;
}

.user-recipes-container {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    gap: 30px;
}

.user-profile-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.user-card-container {
    display: flex;
    flex-flow: row nowrap;
}